.card-container{
    display: flex;
    justify-content: center;
    background-color: #4f4f4f;
    width: 250px;
    min-height: 300px;
    margin-right: 50px;
	margin-bottom: 50px;
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;

}

p{

}
