.cadastro-container {
    display: flex;
    justify-content:center;
    align-items:center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

button {
    background-color:#505050;
}

label {
    margin-bottom: 50px;
}

input {
    width: 500px;
    margin-left: 10px;
}

.buttons {    
    display: flex;
    justify-content:space-between;
    width: 200px;
    align-self: center;
}
